body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #2a4235;
  color: #ffffff;
}

header, footer {
  background-color: #324d3e;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, .cv-header, .portfolio-section h2 {
  margin: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.intro, .cv-section, .portfolio-section, .contact-section {
  margin: 20px;
  padding: 50px;
  border-radius: 15px;
  background: linear-gradient(140deg, #738c70, #8fa68b);
}

.intro {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
}

.intro-image img {
  width: 100%;
  max-height: 450px;
  border-radius: 15px;
  object-fit: cover;
}

.job-title {
  margin-bottom: 25px;
  font-size: 1em;
}

.btn, .download-btn, .contact-form button {
  background-color: #bfd1bc;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover, .download-btn:hover, .contact-form button:hover {
  background-color: #d9e3d5;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.cv-content {
  max-width: 800px;
  margin: 0 auto;
}

.cv-section h3, .portfolio-item h3 {
  border-bottom: 1px solid #2a4235;
  padding-bottom: 5px;
}

.cv-section ul, .portfolio-desc {
  margin-left: 20px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.portfolio-item, .pdf-viewer {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.button-container, .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.social-icons a {
  color: white;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #bfd1bc;
}

/* Responsive */
@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    text-align: center;
  }
  .contact-info {
    flex-direction: column;
  }
  .pdf-viewer,
  .pdf-viewer embed,
  .pdf-viewer object {
    height: 400px !important;
  }
}
